<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div class="container col-md-4 mt-5 p-3 bg-light shadow">
  <%= form_with url: session_path do |form| %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "email@email.com", value: params[:email_address], class:"form-control" %><br>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", class:"form-control", maxlength: 72 %><br>
    <%= form.submit "Entrar", class: "btn btn-primary form-control" %>
  <% end %>
</div>
<br>

<%= link_to "Forgot password?", new_password_path, class: "ms-5 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
