<h1>Lista de Turmas</h1>

<%= link_to "Nova Turma", new_turma_path, class: "btn btn-primary" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Série</th>
      <th>Nome</th>
      <th>Prof. Padrinho</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
        <td><%= "#{turma.serie}º" %></td>
        <td><%= turma.nome %></td>
        <td><%= turma.professor.nome %></td>
        <td>
          <%= link_to "Editar", edit_turma_path(turma), class: "btn btn-warning btn-sm" %>
          <%= link_to "Excluir", turma, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

