<% if @turma.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@turma.errors.count, "erro") %> encontrado(s):</h4>
    <ul>
      <% @turma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Cadastrar Turma</h1>

<%= form_with(model: @turma, local: true) do |form| %>
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :serie %> 
    <%= form.number_field :serie, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :professor_id, "Professor Responsável" %>
    <%= form.collection_select :professor_id, Professor.all, :id, :nome, { prompt: "Selecione um professor" }, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Voltar", turmas_path, class: "btn btn-secondary" %>