<h1>Editar Aluno</h1>

<%= form_with(model: @aluno, local: true) do |form| %>
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento, "Data de Nascimento" %>
    <%= form.date_field :data_nascimento, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :matricula, "Matrícula" %>
    <%= form.text_field :matricula, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :turma_id, "Turma" %>
    <%= form.collection_select :turma_id, Turma.all, :id, :nome, { prompt: "Selecione uma turma" }, { class: "form-control" } %>
  </div>

  <div class="actions">
    <%= form.submit "Atualizar", class: "btn btn-success" %>
  </div>
<% end %>

<%= link_to "Cancelar", alunos_path, class: "btn btn-secondary" %>
