<div class="container d-flex justify-content-between align-items-center p-2">
  <h1>Editar Professor</h1>
</div>

<div class="container">
  <%= form_with model: @professor, url: professore_path(@professor), method: :patch, local: true do |f| %>
    <div class="mb-3">
      <%= f.label :nome, "Nome", class:"form-label" %>
      <%= f.text_field :nome, class: "form-control mb-2" %>
    </div>

    <div class="mb-3">
      <%= f.label :especializacao, "Especialização", class:"form-label" %>
      <%= f.text_field :especializacao, class: "form-control mb-2" %>
    </div>

    <div class="actions gap-2 d-flex justify-content-end mt-3">
      <%= f.submit "Atualizar", class: "btn btn-success" %>
      <%= link_to "Cancelar", professores_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
