<div class="container d-flex justify-content-between align-items-center p-2">
  <h1>Editar Sala</h1>
</div>

<div class="container">
    <%= form_with(model: @sala, local: true) do |form| %>
        <div>
            <%= form.label :numero, class:"form-label" %>
            <%= form.text_field :numero, class: "form-control mb-2" %>
        </div>
        <div>
            <%= form.label :capacidade, class:"form-label" %>
            <%= form.text_field :capacidade,  class: "form-control mb-2" %>
        </div>
        <div class="field">
            <%= form.label :turma_id, "Turma", class:"form-label" %>
            <%= form.collection_select :turma_id, Turma.all, :id, lambda { |turma| "#{turma.serie} Série - #{turma.nome} " }, { prompt: "Selecione uma turma" }, { class: "form-control mb-2" } %>
        </div>

        <div class="actions gap-2 d-flex justify-content-end mt-3">
            <%= form.submit "Atualizar", class: "btn btn-primary" %>
            <%= link_to "Cancelar", salas_path, class: "btn btn-secondary" %>
        </div>
    <% end %>
</div>
